<!DOCTYPE html>
<html lang="en">
<head>
    <!--Link to bootstrap CSS for styling-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>TRAINEE</title>
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="?tab=dashboard" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="?tab=my_itps" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">My ITPS</span> </a>
                    </li>
                </ul>
                <div class="pb-4">
                    <form action="{% url 'logout' %}" method="post">
                          {% csrf_token %}
                         <button type="submit" class="btn btn-danger">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            {% if active_tab == 'dashboard'%}
                {% include 'tabs/dashboard_tab.html' %}
            {% elif active_tab == 'my_itps'%}
                {% include 'tabs/trainee_itp_tab.html' %}
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>